host: 0.0.0.0
port: 9091
log_level: warn

jwt_secret: SegredoSuperSecreto

# https://docs.authelia.com/configuration/miscellaneous.html#default-redirection-url
# default_redirection_url: https://authelia.example.com

totp:
  issuer: authelia.com
  period: 30
  skew: 1

authentication_backend:
  file:
    path: /config/users_database.yml
  # customize passwords based on https://docs.authelia.com/configuration/authentication/file.html
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 1024 
                  
# https://docs.authelia.com/configuration/access-control.html
access_control:
  default_policy: deny
  rules:
    # Rules applied to everyone
    - domain: "auth.seu.dominio.org"
      policy: bypass
    # Permite apenas api e (get token) passar
    - domain: "bag.seu.dominio.org" 
      policy: bypass
      resources:
        - "wallabag/.*/.*.xml"
        - "^/api/.*$"
        - "^/oauth/v2/token"
    #    - domain: radarr.example.com
   #      policy: bypass
   #      subject: "group:admins"
   #      resources:
   #      - "^/api/.*$"      
   #    - domain: "*.example.com"
   #      policy: one_factor
    - domain: "*.seu.dominio.org"
      policy: one_factor
    - domain: "seu.dominioorg"
      policy: one_factor

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  #   # Used a different secret, but the same site as jwt_secret above.
  secret: UMSEGREDOBEMGRANDE
  expiration: 3600 # 1 hour
  inactivity: 300 # 5 minutes
  domain: seu.dominio.org # Should match whatever your root protected domain is

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  # For local storage, uncomment lines below and comment out mysql. https://docs.authelia.com/configuration/storage/sqlite.html
  local:
    path: /config/db.sqlite3
  # mysql:
  # MySQL allows running multiple authelia instances. Create database and enter details below.
  #host: MYSQL_HOST
  #port: 3306
  #database: authelia
  #username: DBUSERNAME
  ## Password can also be set using a secret: https://docs.authelia.com/configuration/secrets.html
  #password: DBPASSWORD

notifier:
        #disable_startup_check: true
        # smtp:
        #  username: testondo
        #  This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
        #  password: asenha
        #  host: 127.0.0.1
        #  port: 587 #465
        #  sender: authelia@murucututu.aves
  # For testing purpose, notifications can be sent in a file. Be sure map the volume in docker-compose.
  filesystem:
    filename: /config/notification.txt
